.footerPos {
  margin: 0 auto;
  position: relative;
  /* background-color: rgba(0 , 0, 0, 0.2); */
  z-index: 2;
}

footer {
  color: #fff;
  text-align: center;
  width: 100%;
  padding-top: 50px;
  height: 150px;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2; 
}

.footerIMG1 img {
  margin-right: 90%;
  width: 8%;
  position: absolute;
  top: 0px;
  left: 0px;
}

footer .text{
  margin-left: 55px;
}

@media (max-width: 480px) {
  footer .text{
    font-size: 15px;
    text-align: center;
    margin-left: 0px;
  }
  .footerIMG1 img {
    display: none;
  }
}
