<<<<<<< HEAD
.ressources {
	font-family: Arial;
	color: rgb(255,255,255);
}

.separate{
	margin: 10px 30% 10px 30%;
	height: 1px;
	width: auto;
	background-color: rgb(255,255,255);
}

#content{
	text-align: center;
}

#title{
	margin-top: 20px;
	font-size: 35px;
	font-weight: bold;
}

#links{
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 20px;
}

#links > a{
	display: inline-block;
	margin: 15px;
	padding: 10px 20px 10px 20px;
	font-size: 27px;
	color: rgb(255,255,255);
	text-decoration: none;
	background-color: rgba(236, 240, 241, .3);
	border-radius: 3px;
	transition: background-color;
	transition-duration: 0.3s;
}

#links > a:hover{
	background-color: rgba(236, 240, 241, .6);
}
=======
.ressources {
	font-family: Arial;
	color: rgb(255,255,255);
}

.separate{
	margin: 10px 30% 10px 30%;
	height: 1px;
	width: auto;
	background-color: rgb(255,255,255);
}

#content{
	text-align: center;
}

#title{
	margin-top: 20px;
	font-size: 35px;
	font-weight: bold;
}

#links{
	margin-right: 20%;
	margin-left: 20%;
	margin-bottom: 20px;
}
>>>>>>> 3be5abc24811f7d0e63cdf66c98b9b4f37433a90
