/* h2, h3 {
  font-family: 'Sulphur point';
} */
html {
  margin: 0px;
  padding: 0px;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  background: url(IMG/bg.jpg)
}

/* Fiche metier */

#fichemetier {
  position: relative;
}

#interview .row {
  background: url(IMG/bg.jpg);
}
.missions {
  height: 20%;
  width: 100%;"

}

.col-xl-3 {
  margin-top: 10px;
}

.main {
  background: url(IMG/bg.jpg) no-repeat 50% 50%;
  background-attachment:fixed;
  margin-bottom: 0px;
  width: 100%;
  height: 100%;
}

.col-xs-12 {
/*  background-color: #404040;*/
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.btn-group {
  visibility: hidden;
}

h2 {
  margin-top: 20px;
  font-family: "Sulphur Point";
}

h3 {

  font-family: "Sulphur Point";
}

ul {
  font-family: 'Raleway'
}

.missions {
    margin-bottom: : 10%;
}

.skill {
  margin-top: 100px;
}

.essentials-skill {
  border-right: 2px solid #FAC800;
}

.etude {
/*  max-resolution: res;*/
  /* : 5px; */
}

@media (max-width: 480px) {
  .col-xs-12 {
/*    background-color: #404040;*/
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 13px;
  }

  .etude {
    margin: 5px;
  }

  .introForm h2 {
    text-align: center;
  }

  .introForm p {
    text-align: justify;
    margin: 2%;
    padding: 2%;
    font-family: 'Raleway';
  }

  .missions {
    margin: 5px;
  }

  .btn-group {
    visibility: visible;
  }

  .dropdown-menu {
    margin-left: 1%;
    margin-right: 1%;
  }

  #interview .row .col-xs-12 video {
    width: 100%;
  }

  #interview .row .col-xs-12 .txtVideo h3 {
    font-size: 20px;
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
  }

  #interview .row .col-xs-12 .txtVideo p {
    font-size: 15px;
    text-align: justify;
  }

  #ressources .txtRes h3 {
    font-size: 20px;
  }

  #ressources .txtRes p {
    font-size: 15px;
  }

  .essentials-skill {
    border-right: 0px;
  }
}

/* Pasge d'accueil */
#index {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background: url(IMG/bg.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
  background-size: cover;
  display: table;
  font-family: 'Solway', serif;
}

/* Nav bar */
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background: rgb(0, 0, 0, 0.5);
  color: white;
}

.title img {
  margin: .5rem;
  width: 30px;
  height: 30px;
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 1rem;
  font-family: sans-serif;
}

.navbar-links li:hover {
  background-color: #bdc3c7;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: white;
  border-radius: 10px;
}

/* Titre du home */
#index h1 {
  text-align: center;
  font-size: 110px;
  margin-top: 230px;
  color: #fff;
  text-shadow: 4px 4px 8px #000000;
}

#index p {
  text-align: center;
  font-size: 50px;
  color: #fff;
  text-transform: capitalize;
  background-color: rgba(0, 0, 0, 0.5);
}
@media (max-width: 480px) {
  #index .titreHome {
    font-size: 30px;
  }

  #index p {
    font-size: 30px;
  }

}
/* Interview */
#interview {
  position: relative;
  font-family: 'Solway', serif;
}

#interview video {
  width: 80%;
  margin-top: 60px;
}

#interview .txtVideo p {
  font-size: 23px;
  text-align: center;
}

#interview .txtVideo h3 {
  text-decoration: underline;
  text-transform: capitalize;
  text-align: left;
  font-size: 35px;
}

#interview .blanc {
  margin-top: 135px;
}

/* Responsive */
@media (max-width: 500px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links ul li {
    text-align: center;
  }

  .navbar-links ul li a {
    padding: .5rem 1rem;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* CSS ressources */
#ressources {
  font-family: Arial;
  color: rgb(255, 255, 255);
  background: url(IMG/bg.jpg) no-repeat 50% 50%;
  background-attachment: fixed;
}

#ressources separate {
  margin: 10px 30% 10px 30%;
  height: 1px;
  width: auto;
  background: url(IMG/bg3.jpg);
}

#ressources .content {
  text-align: center;
}

#ressources .title {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
}

#ressources .links {
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 20px;
}

#ressources .links>a {
  display: inline-block;
  margin: 15px;
  padding: 10px 20px 10px 20px;
  font-size: 27px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  border-radius: 3px;
  transition: background-color;
  transition-duration: 0.3s;
}

#ressources .links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

#ressources .links img {
  width: 150px;
}

#ressources .txtRes {
  font-family: 'Solway', serif;
  text-align: left;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

h3 {
  font-size: 30px;
}

p {
  font-size: 20px;
}

#ressources .date {
  font-family: 'Solway', serif;
  text-align: left;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

#ressources .button {
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  color: white;
  padding: 20px 34px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;

}
#ressources .button:hover {
  color: black;
}
