body{
  margin: 0;
  padding: 0;
  background: url(IMG/bg.jpg) no-repeat;
  background-size: cover;
}
.box{
  width: 450px;
  background: rgba(0, 0, 0, 0.5);
  padding: 40px;
  text-align: center;
  margin: auto;
  margin-top: 5%;
  color: white;
  font-family: 'Century Gothic',sans-serif;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1{
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5{
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: 100;
}
.box p{
  text-align: center;
}
ul{
  margin: 0;
  padding: 0;
}
.box li{
  display: inline-block;
  margin: 6px;
  list-style: none;
}
.box li a{
  color: white;
  text-decoration: none;
  font-size: 60px;
  transition: all ease-in-out 250ms;
}
.box li a:hover{
  color: #b9b9b9;
}

@media (max-width: 480px) {
  .box {
    width: 200px;
    background: rgba(0, 0, 0, 0.5);
    padding: 40px;
    text-align: center;
    margin: auto;
    margin-top: 5%;
  }
  .box h1{
    font-size: 20px;
    font-weight: 100;
  }

  .box h5{
    font-size: 14px;
    font-weight: 100;
  }
}
